@{
    ViewBag.Title = "AdminUI";
}

<h2>Administrator</h2>

<hr />

<h5><a href="/Admin/StudentData">Check Student Data</a> </h5>
<br />

<h5><a href="/Admin/ReviewData">Read Reviews</a> </h5>
<br /> 
<form action="/Admin/logout" method="post">

<input type="submit" value="Logout" />
    </form>