@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section style_css{
<style type="text/css">
table {
	width:90%;
	margin:0 5% 5%;
	border:1px solid #000;
}
td {
	border-bottom:1px solid #000;
	padding:10px;
	margin:0;
	font-size:14px;

}
thead th{
	background:#339900;
	font-size:16px;
	padding:10px;
	color:#FFF;
	text-align:left;
}
tr:hover{background:#b0cb88}
#imagestyle{
	float:right;
	height:34px;
	width:181px;
}
</style>	
	}

	<div id="content_section">
		<center><h1>Status of Urban Bus (HOVs) Routes</h1></center>
<center><h3>Dated April 11, 2013</h3></center>

<table cellpadding="0" cellspacing="0">
<thead>
  <tr>
    <th>S. No.</th>
    <th>Route No.</th>
    <th>Route Alignment</th>
  </tr>
</thead>
<tbody>
  <tr height="84">
    <td height="84">1</td>
    <td>B-1</td>
    <td width="532"><b>R.A. Bazar to Secretariat </b><br /><a href="JavaScript:newPopup('routesMap/B-01.jpg');">Detail of Route</a><a href="routesMap/B-01.jpg"><img src="routesMap/B01.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-1.pdf');">Fare table</a></td>
  </tr>
  <tr height="50">
    <td height="50">2</td>
    <td>B-2</td>
    <td width="532"><b>General Bus Stand to Marraka</b> <br /><a href="JavaScript:newPopup('routesMap/B-02.jpg');">Detail of Route</a> <a href="routesMap/B-02.jpg"><img src="routesMap/B02.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('');">Fare table</a>
    </td>
  </tr>
  
  <tr height="84">
    <td height="84">3</td>
    <td>B-4</td>
    <td width="532"><b>General Bus Stand to Jallo/Wagha </b> <br /><a href="JavaScript:newPopup('routesMap/B-04.jpg');">Detail of Route</a> <a href="routesMap/B-04.jpg"><img src="routesMap/B04.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-4.pdf');">Fare table</a></td>
  </tr>
  <tr height="105">
    <td height="105">4</td>
    <td>B-5</td>
    <td width="532"><b>Railway Station to Defence </b> <br /><a href="JavaScript:newPopup('routesMap/B-05.jpg');">Detail of Route</a> <a href="routesMap/B-05.jpg"><img src="routesMap/B05.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-5.pdf');">Fare table</a></td>
  </tr>
  <tr height="84">
    <td height="84">5</td>
    <td>B-6</td>
    <td width="532"><b>Railway Station to Green Town </b> <br /><a href="JavaScript:newPopup('routesMap/B-06.jpg');">Detail of Route</a> <a href="routesMap/B-06.jpg"><img src="routesMap/B06.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-6.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="70">
    <td height="70">6</td>
    <td>B-8</td>
    <td width="532"><b>General Bus Stand to Allama Iqbal Airport </b> <br /><a href="JavaScript:newPopup('routesMap/B-08.jpg');">Detail of Route</a> <a href="routesMap/B-08.jpg"><img src="routesMap/B08.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-8.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="104">
    <td height="104">7</td>
    <td>B-10</td>
    <td width="532"><b>Railway Station to NFC Housing Scheme </b> <br /><a href="JavaScript:newPopup('routesMap/B-10.jpg');">Detail of Route</a> <a href="routesMap/B-10.jpg"><img src="routesMap/B10.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-10.pdf');">Fare table</a></td>
  </tr>
  <tr height="104">
    <td height="104">8</td>
    <td>B-11</td>
    <td width="532"><b>Railway Station to Green Town </b> <br /><a href="JavaScript:newPopup('routesMap/B-11.jpg');">Detail of Route</a><a href="routesMap/B-11.jpg"><img src="routesMap/B11.png" name="imagestyle" align="middle" id="imagestyle"/></a> <br />
    <a href="JavaScript:newPopup('downloads/B-11.pdf');">Fare table</a></td>
  </tr>
  <tr height="84">
    <td height="84">9</td>
    <td>B-12</td>
    <td width="532"><b>Railway Station to Youhanna Abad </b> <br /><a href="JavaScript:newPopup('routesMap/B-12.jpg');">Detail of Route</a> <a href="routesMap/B-12.jpg"><img src="routesMap/B12.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-12.pdf');">Fare table</a></td>
  </tr>
  <tr height="84">
    <td height="84">10</td>
    <td>B-12A</td>
    <td width="532"><b>Azadi Chowk to Minar-e-Pakistan </b> <br /><a href="JavaScript:newPopup('routesMap/B-12A.jpg');">Detail of Route</a> <a href="routesMap/B-12A.jpg"><img src="routesMap/B12A.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-12A.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="84">
    <td height="84">11</td>
    <td>B-14</td>
    <td width="532"><b>R.A. Bazar to Baggrian/Green Town </b> <br /><a href="JavaScript:newPopup('routesMap/B-14.jpg');">Detail of Route</a> <a href="routesMap/B-14.jpg"><img src="routesMap/B14.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-14.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="123">
    <td height="123">12</td>
    <td>B-16</td>
    <td width="532"><b>General Bus Stand to Social Welfare Society (Township) </b> <br /><a href="JavaScript:newPopup('routesMap/B-16.jpg');">Detail of Route</a> <a href="routesMap/B-16.jpg"><img src="routesMap/B16.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-16.pdf');">Fare table</a></td>
  </tr>
  <tr height="49">
    <td height="49">13</td>
    <td>B-17</td>
    <td width="532"><b>Railway Station to Jallo Pind </b> <br /><a href="JavaScript:newPopup('routesMap/B-17.jpg');">Detail of Route</a> <a href="routesMap/B-17.jpg"><img src="routesMap/B17.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-17.pdf');">Fare table</a></td>
  </tr>
  <tr height="48">
    <td height="48">14</td>
    <td>B-18</td>
    <td width="532"><b>Railway Station to Tajpura </b> <br /><a href="JavaScript:newPopup('routesMap/B-18.jpg');">Detail of Route</a> <a href="routesMap/B-18.jpg"><img src="routesMap/B18.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-18.pdf');">Fare table</a></td>
  </tr>
  <tr height="62">
    <td height="62">15</td>
    <td>B-19</td>
    <td width="532"><b>Old Ravi Pull to Gulberg Main Market </b> <br /><a href="JavaScript:newPopup('routesMap/B-19.jpg');">Detail of Route</a> <a href="routesMap/B-19.jpg"><img src="routesMap/B19.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-19.pdf');">Fare table</a></td>
  </tr>
  <tr height="100">
    <td height="100">16</td>
    <td>B-20</td>
    <td width="532"><b>Old Ravi Pull to Baggrian </b> <br /><a href="JavaScript:newPopup('routesMap/B-20.jpg');">Detail of Route</a> <a href="routesMap/B-20.jpg"><img src="routesMap/B20.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-20.pdf');">Fare table</a></td>
  </tr>
  <tr height="64">
    <td height="64">17</td>
    <td>B-21</td>
    <td width="532"><b>Railway Station to Qilla Sattar Shah </b> <br /><a href="JavaScript:newPopup('routesMap/B-21.jpg');">Detail of Route</a> <a href="routesMap/B-21.jpg"><img src="routesMap/B21.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-21.pdf');">Fare table</a></td>
  </tr>
  <tr height="64">
    <td height="64">18</td>
    <td>B-22</td>
    <td width="532"><b>Jallo Mor to Thokar Niaz Beg </b> <br /><a href="JavaScript:newPopup('routesMap/B-22.jpg');">Detail of Route</a><a href="routesMap/B-22.jpg"><img src="routesMap/B22.png" name="imagestyle" align="middle" id="imagestyle"/></a> <br />
    <a href="JavaScript:newPopup('downloads/B-22.pdf');">Fare table</a></td>
  </tr>
  <tr height="84">
    <td height="84">19</td>
    <td>B-23</td>
    <td width="532"><b>R.A. Bazar to Thokar Niaz Beg </b> <br /><a href="JavaScript:newPopup('routesMap/B-23.jpg');">Detail of Route</a><a href="routesMap/B-23.jpg"><img src="routesMap/B23.png" name="imagestyle" align="middle" id="imagestyle"/></a> <br />
    <a href="JavaScript:newPopup('downloads/B-23.pdf');">Fare table</a></td>
  </tr>
  <tr height="84">
    <td height="84">20</td>
    <td>B-24</td>
    <td width="532"><b>General Bus Stand to Green Town </b> <br /><a href="JavaScript:newPopup('routesMap/B-24.jpg');">Detail of Route</a> <a href="routesMap/B-24.jpg"><img src="routesMap/B24.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-24.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="84">
    <td height="84">21</td>
    <td>B-26</td>
    <td align="left" width="532"><b>Chungi Wahga to Chungi Amar Sidhu </b> <br /><a href="JavaScript:newPopup('routesMap/B-26.jpg');">Detail of Route</a> <a href="routesMap/B-26.jpg"><img src="routesMap/B26.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-26.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="84">
    <td height="84">22</td>
    <td>B-28</td>
    <td width="532"><b>Allama Iqbal Airport to Valencia Roundabout </b> <br /><a href="JavaScript:newPopup('routesMap/B-28.jpg');">Detail of Route</a> <a href="routesMap/B-28.jpg"><img src="routesMap/B28.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-28.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="104">
    <td height="104">23</td>
    <td>B-33</td>
    <td width="532"><b>Railway Station to Township </b> <br /><a href="JavaScript:newPopup('routesMap/B-33.jpg');">Detail of Route</a> <a href="routesMap/B-33.jpg"><img src="routesMap/B33.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-33.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="66">
    <td height="66">24</td>
    <td>B-36</td>
    <td width="532"><b>Daroghewala to Chungi Amar Siddhu </b> <br /><a href="JavaScript:newPopup('routesMap/B-36.jpg');">Detail of Route</a> <a href="routesMap/B-36.jpg"><img src="routesMap/B36.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-36.pdf');">Fare table</a></td>
  </tr>
  <tr height="66">
    <td height="66">25</td>
    <td>B-37</td>
    <td width="532"><b>Railway Station to Mureedkey </b> <br /><a href="JavaScript:newPopup('routesMap/B-37.jpg');">Detail of Route</a> <a href="routesMap/B-37.jpg"><img src="routesMap/B37.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-37.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="64">
    <td height="64">26</td>
    <td>B-41</td>
    <td width="532"><b>Railway Station to Liaqatabad </b> <br /><a href="JavaScript:newPopup('routesMap/B-41.jpg');">Detail of Route</a> <a href="routesMap/B-41.jpg"><img src="routesMap/B41.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-41.pdf');">Fare table</a></td>
  </tr>
  <tr height="84">
    <td height="84">27</td>
    <td>B-42</td>
    <td width="532"><b>Railway Station to Altaf Colony </b> <br /><a href="JavaScript:newPopup('routesMap/B-42.jpg');">Detail of Route</a> <a href="routesMap/B-42.jpg"><img src="routesMap/B42.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-42.pdf');">Fare table</a></td>
  </tr>
  <tr height="84">
    <td height="84">28</td>
    <td>B-43</td>
    <td width="532"><b>Railway Station to Pepsi Cola Factory </b> <br /><a href="JavaScript:newPopup('routesMap/B-43.jpg');">Detail of Route</a> <a href="routesMap/B-43.jpg"><img src="routesMap/B43.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-43.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="48">
    <td height="48">29</td>
    <td>B-49</td>
    <td width="532"><b>Railway Station to Kamonki </b> <br /><a href="JavaScript:newPopup('routesMap/B-49.jpg');">Detail of Route</a> <a href="routesMap/B-49.jpg"><img src="routesMap/B49.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-49.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="41">
    <td height="41">30</td>
    <td>B-51</td>
    <td width="532"><b>General Bus Stand to Kasur </b> <br /><a href="JavaScript:newPopup('routesMap/B-51.jpg');">Detail of Route</a> <a href="routesMap/B-51.jpg"><img src="routesMap/B51.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-51.pdf');">Fare table</a></td>
  </tr>
  
  <tr height="45">
    <td height="45">31</td>
    <td>B-53</td>
    <td width="532"><b>Railway Station to Sheikhupura </b> <br /><a href="JavaScript:newPopup('routesMap/B-53.jpg');">Detail of Route</a> <a href="routesMap/B-53.jpg"><img src="routesMap/B53.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-53.pdf');">Fare table</a></td>
  </tr>
  <tr height="45">
    <td height="45">32</td>
    <td>B-54</td>
    <td width="532"><b>Railway Station to EME Society </b> <br /><a href="JavaScript:newPopup('routesMap/B-54.jpg');">Detail of Route</a> <a href="routesMap/B-54.jpg"><img src="routesMap/B54.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-54.pdf');">Fare table</a></td>
  </tr>
  <tr height="45">
    <td height="45">33</td>
    <td>B-56</td>
    <td width="532"><b>Thokar Niaz Baig to Raiwind Road </b> <br /><a href="JavaScript:newPopup('routesMap/B-56.jpg');">Detail of Route</a> <a href="routesMap/B-56.jpg"><img src="routesMap/B56.png" name="imagestyle" align="middle" id="imagestyle"/></a><br />
    <a href="JavaScript:newPopup('downloads/B-56.pdf');">Fare table</a></td>
  </tr>
 
  
</tbody>
</table>
	</div><!-- End of Content Section -->
