	
	<script type="text/javascript">
	    $(function () {
	        $('#js-news').ticker({
	            speed: 0.10,
	            fadeInSpeed: 600,
	            titleText: 'NEWS |'
	        });
	    });
</script>
	
	<!-- /news tricker -->
<!-- Coin Slider -->
<link rel="stylesheet" href="~/Content/coinbus.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/coinslider.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#coin-slider').coinslider();
    });
</script>

<!-- news tricker-->
<!--<link href="jss/global.css" rel="stylesheet" type="text/css" />-->
<!--<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            maxWidth: 800,
            maxHeight: 600,
            fitToView: false,
            width: '70%',
            height: '70%',
            autoSize: true,
            closeClick: true,
            openEffect: true,
            closeEffect: 'none',
        });
    });
</script>-->


	
	<!-- Picture Menu -->
	<link href="~/content/backgrnd.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery.pictureMenu.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $(".MainMenu5").pictureMenu({
                menuHeight: 264,
                animateTime: 600,
                menuInactiveHide: 0.2,
                menuWidthHover: 46,
                menuAutoOpen: 3,
                leaveActiveOpen: true,
                leaveActiveOpenCookie: true
            });

        });
    </script>
	
	<div id="newsTicker">
			<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="">B-19, diverted to Baggrian Chowk/Green Town.</a></li>
	<li class="news-item"><a href="">iTravel Launches its New Website on 03 March 2014</a></li>
    <li class="news-item"><a href="">New RFID Student Green Cards and Senior Citizen Cards Introduced</a></li>
    <li class="news-item"><a href="">Depot Facilities improvement plan to be implemented</a></li>
    <li class="news-item"><a href="">Planning surveys for recording coordinates of all bus stops in Lahore is in progress to upload the iTravel HOV & LOV routes and all bus stops on Google for convenience of daily commuters.</a></li>
	<li class="news-item"><a href="">E-Ticketing proposal being finalized</a></li>
	
	</ul>	</div><!--News Ticker-->
	<div style="clear:both;"></div>
	<div id="slider_video">
		<div id="slider-main">
			
        <div id='coin-slider'>
         	<img src='~/Images/slide_1.jpg' >
	  		<img src='~/Images/slide_4.jpg' >
            <img src='~/Images/slide_3.jpg' >
		</div>	
		</div>	
	</div>
	<!--slider & Video-->
    
	<div id="project_Row">
		
    
                <div class="MainMenu5">
                    <div>
                        <img src="~/Images/menu-7.png" />
                        <img src="~/Images/news.png" />
							
                    </div>
                    <div>
                        <a href=""><img src="~/Images/menu-6.png" /></a>
                       <img src="~/Images/stCard.png" />
						
                        
                    </div>
                    <div>
                        <img src="~/Images/menu-5.png" />
                        <img src="~/Images/freeCard.png" />
                      
                    </div>
                   <div>
                       <a href=""> <img src="~/Images/menu-3.png" /></a>
                        <img src="~/Images/tourist.png" />
                     
                    </div>
                   
                    <div>
                        <img src="~/Images/menu-4.png" />
                        <img src="~/Images/eTicketing.png" />
                    
                    </div>
				
                </div>
          
            
            
		
    </div><!-- Project Row -->

      <div id="promo">
    			<div id="promo1">
			<h3>Tourist Information</h3>
        	<a href="~/Images/lahore_Museum.jpg"  class="fancybox" rel="group"><img src="~/Images/lahore_Museum.jpg" /></a>
            Lahore buses are an easy way to see all of the city's best attractions, sporting venues and shopping precincts. <br />
            <a href="">Read more</a>
        </div>
        <div id="promo2">
			<h3> Maps & Routes</h3>
			<img src="~/Images/mapRoutes.jpg" />
			Use our maps and schedules to find the loop stop nearest you, determine the schedule to fit your needs, or just get an idea of where we can take you! <br />
			<a href="">Read more</a>
        </div>
        
        <div id="promo3">
			<h3> Contact Us </h3>
			<img src="" />
			iTravel is committed to delivering quality customer service and helping to improve your travel experience. <br />
			<a href="">Read more</a>
        </div>
		
		
		
		    </div><!--end of promo-->
  