@section style_css{
<style type="text/css">
table {
	width:90%;
	margin:0 5% 5%;
	border:1px solid #000;
}
td {
	border-bottom:1px solid #000;
	padding:10px;
	margin:0;
}
thead th{
	background:#339900;
	font-size:16px;
	padding:10px;
	color:#FFF;
	text-align:left;
}
tr:hover{background:#b0cb88}
</style>	
	
	}

	<div id="content_section">
		<center><h1>LIST OF URBAN (LOV) WAGON / MINI BUS ROUTES IN LAHORE.</h1></center>
<center><h3></h3></center>
</thead>
<table cellpadding="0" cellspacing="0">
<thead>
  <tr>
    <th>S. No.</th>
    <th>Route No.</th>
    <th>Route Alignment</th>
  </tr>
</thead>
<tbody>
  <tr height="84">
    <td height="84">1</td>
    <td>Exp-2</td>
    <td width="532">Allama Iqbal International Airport, Metro,Bhatta Chowk, Nadir abad, Ra Bazar,PAF Market, Mall of Lahore, RahatBakery, Fortress Stadium, Gymkhana,Aitcheson, Bagh e Jinnah, Zoo, HallRoad, GPO, Anarkali, NCA, GCUniversity, Secretariat, and Vice Versa...</td>
  </tr>
  <tr height="84">
    <td height="84">2</td>
    <td>101</td>
    <td width="532">Mayo Hospital to Kot Abdul Malik viaBhatti, Azadi Chowk,  Shahdara Mor,Baigum Kot, Kot Abdul Malik.</td>
  </tr>
  <tr height="70">
    <td height="70">3</td>
    <td>102</td>
    <td width="532">Rang Maal to Bakar Mandi via Bhhati,Secretariat, Chouburji,  Samanababd Mor,Chowk Yateem Khana, Bakar Mandi.</td>
  </tr>
  <tr height="84">
    <td height="84">4</td>
    <td>103</td>
    <td width="532">Thhathi) via Shah Alam Chowk, Bhhati,Secretariat, MAO College, Chouburji,Samanabad Mor, 1st Round About, 2ndRound About, 3rd Round About, Pakki</td>
  </tr>
  <tr height="105">
    <td height="105">5</td>
    <td>104</td>
    <td width="532">Lakshami chowk GPO, Jain Manbdar,Chouburji, Samanabad Mor, 1st RoundAbout, 3rd Round About, Pakki Thathi.</td>
  </tr>
  <tr height="84">
    <td height="84">6</td>
    <td>105</td>
    <td width="532">Railway Station to Maraghzar Colony viaLakshami, GPO, Jain Mandar , Chouburji,Yateem Khana Chowk, Ferwara Chowk,Liaqat Chowk (Sabzazar) MarghzarColony.</td>
  </tr>
  <tr height="70">
    <td height="70">7</td>
    <td>105-A</td>
    <td width="532">Railway Station to Shera Kot via GPOChowk, Chouburji Chowk, Yateem Khana Chowk, Bakar Mandi.</td>
  </tr>
  <tr height="70">
    <td height="70">8</td>
    <td>106</td>
    <td width="532">Walton Road) via Shahalmi, MayoHospital, Gawalmandi, Lakshmi Chowk,Hall Road, Regal, Ganga Ram Hospital,Mozanag Chungi, Lahore College,Services Hospital, Siddique Trade Center,Main Market Gulberg, Liberty Market,Hussain Chowk, Guromangat Road, 7-Up</td>
  </tr>
  <tr height="84">
    <td height="84">9</td>
    <td>107</td>
    <td width="532">Sabzazar ) via Azadi Chowk, Bhhati,Secretariat, Chouberji, Samanabad Mor,Yateem Khana Chowk, Liaqat chowk.</td>
  </tr>
  <tr height="104">
    <td height="104">10</td>
    <td>108</td>
    <td width="532">Railway Hospital, Garrhi ShahooDharampura, Maiun Meer Infantry RoadmFoirterss,m Shami Road, Khurshid Alamroad, R.A Bazarm Nishat Colony.</td>
  </tr>
  <tr height="104">
    <td height="104">11</td>
    <td>109</td>
    <td width="532">China Scheme to Sikaandriya Colony viaBhagatpura, Aamir roadm Shadbagh Mor,Tokeywala Chowk, Dhobi ghhat,NeelumCinema, Ghorey Shah Chowk, Co-op Store, Garrhi Shahoo, Queen MerryCollege, Shimla Hill, Aiwan-e- Iqbal Mor,Zoo, Faiswal Chowk, Regal, StateBanmk, Fareed Court House, JainMander, Chouburji, Samanabad Mor,Yteem Khana Chouk, Skikandriya Colony.</td>
  </tr>
  <tr height="84">
    <td height="84">12</td>
    <td>110</td>
    <td width="532">R.A. Bazar to Guru Key Aasil via NishatColony, Nadir abad, Bhatta Chowk,Ladher, Motta Singh, Karbath, Hair pind.</td>
  </tr>
  <tr height="84">
    <td height="84">13</td>
    <td>111</td>
    <td width="532">GBS, Data Nagar, Siddique Pora, AbuBakar Park, Shahdin Park, Azam Park,Baghatpura.</td>
  </tr>
  <tr height="84">
    <td height="84">14</td>
    <td>112</td>
    <td width="532">PCSIR, shaukat Khanum Hospital,NESPAK, Ghazi Chowk,Butt Chowk,Qadri Chowk, Chouras Tanki Chowk,Hamdard Chowk, Kot Lakhpat Jail.</td>
  </tr>
  <tr height="49">
    <td height="49">15</td>
    <td>113</td>
    <td width="532">Puli, Nadirabad Bhatta Chowk, Gohawa ,Ladhar, Motta Singh, Elite Center, DheraPull, Kothee, Rohra, Bhogan, Khokh.</td>
  </tr>
  <tr height="123">
    <td height="123">16</td>
    <td>114</td>
    <td width="532">Hospital, Lakshmi Chowk, T.V.Station,Shimla Hill, Police Lines , RailwayHeadquarters, Railway Station.</td>
  </tr>
  <tr height="49">
    <td height="49">17</td>
    <td>115</td>
    <td width="532">Bridge, Outfall Road, District Courts,Secretariat, MAO College, Chouburji.</td>
  </tr>
  <tr height="48">
    <td height="48">18</td>
    <td>116</td>
    <td width="532">Doctors Hospital Under Pass, KhokharChowk, Shadiwal Chowk (Jauhar Town),Revenue Housing Society, GhausiaChowk, Township Police Station,Hamdard Chowk, Jail Road, Peco Mor.</td>
  </tr>
  <tr height="62">
    <td height="62">19</td>
    <td>117</td>
    <td width="532">Manga to Kahna via Marraka, Mohlanwal,Bhootatian Chowk, Halloki, Sadhukey,Katcha, Kahna.</td>
  </tr>
  <tr height="100">
    <td height="100">20</td>
    <td>118</td>
    <td width="532">Bhatta Chowk, Lidher, Jalalabad,Bhangali.</td>
  </tr>
  <tr height="64">
    <td height="64">21</td>
    <td>119</td>
    <td width="532">Moria Pull, Poriyan, Coop Store, ShedMor, Railway Engine Shed, RailwayWorkshops, Mughalpura Pull ,Ghaziabad, Chungi, Ghaziabad, Bismillah.</td>
  </tr>
  <tr height="64">
    <td height="64">22</td>
    <td>120</td>
    <td width="532">Mor, Jail Road, Thayat Mor, GowalaColony, Kacha, Mouza waraich, Halloki,Jia Bagga, Raiwind.</td>
  </tr>
  <tr height="84">
    <td height="84">23</td>
    <td>121</td>
    <td width="532">Bhhati, Secrtariat, MAO College,Chouburji, Samanabad Mor, Dubai chowk(Gulshan-e-Ravi), Bund Road.</td>
  </tr>
  <tr height="84">
    <td height="84">24</td>
    <td>122</td>
    <td width="532">Railway Staion to Nonariyan Chowk viaBoharwala Chowk, Lahore Hotel,Lakshami, A.G. Office, Jain Mandar,Chouburji, Samanabad Mor, DubaiChowk (Gulshan-e-Ravi) Bund Road.</td>
  </tr>
  <tr height="84">
    <td height="84">25</td>
    <td>123</td>
    <td width="532">Jallo Mor to Minhala via WarrahCharaghan, Warrah Din Muhammad ,Nathoki, Minhala 1.</td>
  </tr>
  <tr height="84">
    <td height="84">26</td>
    <td>124</td>
    <td align="left" width="532">Dhaiy.</td>
  </tr>
  <tr height="70">
    <td height="70">27</td>
    <td>125</td>
    <td width="532">Jaggawar Chowk, Allah Hoo Chowk,Shauq Chowk, Akbar Chowk, Peco Road,Peco Mor, Kot Lakhpath Station, Phhatak.</td>
  </tr>
  <tr height="84">
    <td height="84">28</td>
    <td>126</td>
    <td width="532">Chowk , Batti Chowk, Shahdra Mor,Begum Kot , Al-Saeed Chowk, FaizpurInterchange.</td>
  </tr>
  <tr height="70">
    <td height="70">29</td>
    <td>127</td>
    <td width="532">Bhatti to Bangali Bagh via Azadi Chowk,General Bus Stand, Pull Data Nagar,Bismillah Chowk, Pull Ganda Nallah,Bangali Bagh.</td>
  </tr>
  <tr height="68">
    <td height="68">30</td>
    <td>128</td>
    <td width="532">Bhatti to Gujjarpura Scheme viaShahalmi, Mochi Gate, Dehlhi Gate, IkMoria, Poriyan, Sultanpura, Ghorey Shah,Comprehensive School, GujjarpuraScheme.</td>
  </tr>
  <tr height="68">
    <td height="68">31</td>
    <td>129</td>
    <td width="532">Mochi Gate, Adda Crown, Delhi Gate , IkMoria, Poriyan, Chamra Mandi, chowkNakhuda, Wassanpura Chowk, TajpuraChowk, New Shadbagh, ShadbaghMarket, Ganda Nallah, China Scheme.</td>
  </tr>
  <tr height="49">
    <td height="49">32</td>
    <td>130</td>
    <td width="532">Nallah, Bedian Road, Dera Chehhel,Lidhar, Ghazi Road , Alama Iqbal Air Port,Barki Road , Al- Faisal Town.</td>
  </tr>
  <tr height="104">
    <td height="104">33</td>
    <td>131</td>
    <td width="532">Hospital via Bhatti, Secretariat, PuraniAnarkali, A.G. Office, Jain Mandar,Mozang Chungi, Ichhra, Muslim TownMor, Wahdat Road, New Campus, WifaqiColony , Jaggawar Chowk, MainBoulevard, Johar Town, Shaukat Khanum.</td>
  </tr>
  <tr height="84">
    <td height="84">34</td>
    <td>132</td>
    <td width="532">Bhatti to Allama Iqbal Town viaSecretariat, MAO College, Chouburji,Samanabad Mor, Yateem Khana Chowk,Scheme Mor, Kharrak, Kareem Block,Gulshan -e Iqbal, Dubai Chowk, NeelamBlack.</td>
  </tr>
  <tr height="66">
    <td height="66">35</td>
    <td>133</td>
    <td width="532">Kahna to Raiwind via Sooa Aassil, Wataney, Ladhekey.</td>
  </tr>
  <tr height="66">
    <td height="66">36</td>
    <td>134</td>
    <td width="532">Chungi Amar Sidhu to Bhobattian Chowk via Gowala Colony, Chandrah, Kacha Station, Halloki, Bhoobatian.</td>
  </tr>
  <tr height="66">
    <td height="66">37</td>
    <td>135</td>
    <td width="532">Jalo Mor To Thhatha via Dandianwali Poli , Bharat Pind , Noor Shah Darbar, Bhhaseen, Thatha.</td>
  </tr>
  <tr height="84">
    <td height="84">38</td>
    <td>136</td>
    <td width="532">Jalo to Narwar Pind via Khera Pull</td>
  </tr>
  <tr height="105">
    <td height="105">39</td>
    <td>137</td>
    <td width="532">Jallo Mor to Mandiyala via Khaira Pull, Jallo Pind Mandiyala</td>
  </tr>
  <tr height="99">
    <td height="99">40</td>
    <td>138</td>
    <td width="532">Lesco to Lesco (Within DHA Limits)</td>
  </tr>
  <tr height="64">
    <td height="64">41</td>
    <td>139</td>
    <td width="532">Lesco to Lesco (Within DHA Limits)</td>
  </tr>
  <tr height="84">
    <td height="84">42</td>
    <td>140</td>
    <td width="532">Railway Station to Sharqpur via Secretariat, Saggian Pull, Attari MorRailway Station to Sharqpur via Secretariat, Saggian Pull, Attari Mor</td>
  </tr>
  <tr height="84">
    <td height="84">43</td>
    <td>141</td>
    <td width="532">via PCSIR Colony, Allah Hoo Chowk, Jinnah Hospital, Marriyan,Center Point Chowk, Hafeez Centre</td>
  </tr>
  <tr height="84">
    <td height="84">44</td>
    <td>142</td>
    <td width="532">Lohari Gate to Shahdra Town</td>
  </tr>
  <tr height="66">
    <td height="66">45</td>
    <td>143</td>
    <td width="532">Qadri Chowk (Township) to Hair Pind via Umar Chowk, Qainchi Stop, Kot Lakhpath Station, Ghazi Road, Bhatta Chowk.</td>
  </tr>
  <tr height="84">
    <td height="84">46</td>
    <td>144</td>
    <td width="532">Railway station to bedian via garhi shahu, sadar chowk, cant courtes, islamia college, sarfaraz rafique road, old airport chowk, R.A Bazar, Bhata Chowk, Hair pind</td>
  </tr>
  <tr height="48">
    <td height="48">47</td>
    <td>145</td>
    <td width="532">Chungi Amar Sidhu to Chohang via Kacha Jail Road, Peeko Mor, Pindin stop, Mochi Pura, akber Chowk, Shauq Chowk, Main Bulevard Joher Town, Shaukat Khanum, Expo Centre, Thoker</td>
  </tr>
  <tr height="48">
    <td height="48">48</td>
    <td>146</td>
    <td width="532">Bowly Camp Mefooz shahid Garison to G.B.S via Jorrey pul, Sadar Chowk, Tufail Road, CMH, Infintary Mor, Dharam Pura pul, Garhi Shahu, Railway Station</td>
  </tr>
</tbody>
</table>
	</div><!-- End of Content Section -->
     
 