@{
    ViewBag.Title = "StudentUI";
}

<h2>Welcome to iTravel</h2>
<br />

<hr />
<h3>What do you want to do ?</h3> 

<h5><a href="/Student/Create">Apply for Student Bus Card</a></h5>

<br />
<h5><a href="/Student/Status">Check your Application Status</a></h5>
<br />
<h5><a href="/Home/hroutes">Check High Bus Routes</a></h5>
<br />

<h5><a href="/Home/lroutes">Check Wagon Routes</a></h5>
<br />

<h5><a href="/Student/review">Post a review on iTravel Service</a></h5>

<br /><br />
<form action="/Student/logout" method="post">
    <input type="submit" value="Logout" />


</form>
<br />


